body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-family: var(--ff);
  background-color: var(--clr-navy-50);
}

* {
  transition: all 1s ease-out;
}

@media screen and (min-width: 48em) {
  body {
    align-items: center;
    justify-content: center;
  }
}
